@model Elisab.BAL.ViewModel.Address_VM
@{
  ViewBag.Title = "Address Section";
}

<section class="content-header">
  <h1>
    @ViewBag.Title
  </h1>
  <ol class="breadcrumb">
    <li>
      <a href="@Url.Action("Index", "Home")">
        <i class="fa fa-home"></i> Home
      </a>
    </li>
    <li class="active">
      <a href="@Url.Action("Index", "Address")">
        @ViewBag.Title
      </a>
    </li>
  </ol>
</section>

<div class="box box-primary clear">

    <div class="box-body">
        @Html.HiddenFor(m => m.Id, new { id = "addressId" })

        <div class="row">
            <div class="form-group col-sm-6">
                <label>Fashion Show Name<span class="require">*</span></label>
                <select class="form-control selectpicker" id="fashionShowId" onchange="onFashionShowChange()">
                    <option disabled selected> Select </option>
                    @foreach (var item in ViewData["fashionShow"] as List<Elisab.BAL.ViewModel.FashionShows_VM>)
                    {
                        <option value="@item.Id"> @item.Name </option>
                    }
                </select>
            </div>

            <div class="form-group col-sm-6">
                <label>Header Text<span class="require">*</span></label>
                @*@Html.TextBoxFor(m => m.HeaderText, new { placeholder = "Name", @class = "form-control" })*@
                @Html.TextAreaFor(m => m.HeaderText, new { @class = "ckeditor" })
            </div>

        </div>

        <div class="row">
            <div class="form-group col-sm-6">
                <label>Background Image<span class="require">*</span></label>
                <div id="imgUploadDiv">
                    <input type="file" accept="image/*" id="imgUpload">
                </div>
            </div>
            <div class="form-group col-sm-6">
                <div class="pull-left position-relative">
                    <img class="mt-15 img-responsive h-150" src="" width="150" alt="" id="backgroundImg">
                    <div id="deleteImg" class="deleteImage" style="display:none" onclick="removeImg()"></div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-sm-4">
                @Html.CheckBoxFor(m => m.IsActive, new { @checked = true, @class = "" })
                @Html.LabelFor(m => m.IsActive, "Is Active?")
            </div>
        </div>

    </div>

  <div class="box-footer">
    <button type="button" class="btn btn-primary" onclick="onSubmit()">Submit</button>
  </div>

</div>

<script src="~/Content/js/plugins/jquery/jquery-3.3.1.min.js"></script>
<script src="~/Content/ckeditor/ckeditor.js"></script>
<script src="~/Script/Address.js?@Elisab.WebApp.Helper.Helper.UnqiueId()"></script>
